<div id="<%= dom_id booking %>">
  <p>
    <strong>Cname:</strong>
    <%= booking.cname %>
  </p>

  <p>
    <strong>Cphone:</strong>
    <%= booking.cphone %>
  </p>

  <p>
    <strong>Ccard:</strong>
    <%= booking.ccard %>
  </p>

  <p>
    <strong>Numpeople:</strong>
    <%= booking.numpeople %>
  </p>

  <p>
    <strong>Deposit:</strong>
    <%= booking.deposit %>
  </p>

</div>
